<div id="detailed_message"><!-- Holds all aspects of a blog post -->
   <h2>{{title}}</h2>
        <div class="user"><!-- Open class user -->
        {{from_icon}}&nbsp;<small>{{from_name}}</small>
        </div><!-- Close class user -->
        <div class="post"><!-- Open class post -->
            {{body}}
        </div><!-- Close class post -->
    <div class="info"><!-- Open class info -->
            <p>
                 {{links}}
            </p>
        </div><!-- Close class info -->
</div><!-- Close weblog_post -->
<div class="clearing"></div>