<div id="messages"><!-- start comments div -->
<form method="post" name="message_form" action="{{action_form}}" onsubmit="return submitForm();">
   <input type="hidden" name="sent" value="{{sent}}">
   <h2>{{title}}</h2>
    <table id="messages_table" cellspacing="0" width="100%">
     <tr>
      <th colspan="4" style="text-align:left">
        {{action}}&nbsp;
        <select name="message_action_type" id="message_action_type" onchange="submitMessagesAction(this,message_form,'{{returnConfirm}}')">
          <option value="-1">{{actionMsg}}</option>
          {{action_options}}
        </select>
      </th>
      <th>&nbsp;</th>
     </tr>
     <tr>
      <th width="4%" colspan="2">&nbsp;</th>
      <th width="23%">{{from_to}}</th>
      <th width="50%">{{subject}}</th>
      <th width="33%">{{date}}</th>
     </tr>
        {{messages}}
     <tr>
      <th colspan="4" style="text-align:left">{{paging}}</th>
      <th>&nbsp;</th>
     </tr>
    </table>
</form>
</div><!-- end comments div -->
