#polls {
}

#polls_table th{
  color: #6D929B;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  text-align: center;
  padding: 6px 6px 6px 12px;
  background: #EFEFEF;
}
#polls_table td{
  background: #fff;
  padding: 2px 2px 2px 10px;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
#polls_table td.poll_read{
  background: #F5FAFA;
  padding: 2px 2px 2px 10px;
  font-weight: normal;
}
#detailed_polls h3{
  color: #000;
}