<div id="polls"><!-- start comments div -->
<form method="post" name="poll_form" action="{{action_form_poll}}" onsubmit="return submitForm();">
   <input type="hidden" name="sent" value="{{sent}}">
   <h2>{{title}}</h2>
    <table id="polls_table" cellspacing="0" width="100%">
     <tr>
      <th colspan="5" style="text-align:left">
        {{action}}&nbsp;
        <select name="poll_action_type" id="poll_action_type" onchange="submitPollsAction(this,poll_form,'{{returnConfirm}}')">
          <option value="-1">{{actionPoll}}</option>
          {{action_options_poll}}
        </select>
      <br>
      <br>
      {{owner_polls}}
      </th>
      <th>&nbsp;</th>
     </tr>
     <tr>
      <th width="4%" colspan="2">&nbsp;</th>
      <th width="30%">{{creator}}</th>
      <th width="35%">{{polls_name}}</th>
      <th width="13%">{{date}}</th>
      <th width="33%">{{state}}</th>
     </tr>
        {{polls_list}}
     <tr>
      <th colspan="5" style="text-align:left">{{pagging_owner}}</th>
      <th>&nbsp;</th>
     </tr>
      <th colspan="5" style="text-align:left">{{polls_of_network}}</th>
      <th>&nbsp;</th>
        {{polls_other_list}}
     <tr>
      <th colspan="5" style="text-align:left">{{pagging_others}}</th>
      <th>&nbsp;</th>
     </tr>
    </table>
</form>
</div><!-- end comments div -->